.addProblem{
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    border-radius: 5px;
    margin: 50px auto; 
    padding: 50px;
}
.addProblem h3{
    margin-top: 10px;
}

.addPForm{
    margin-top: 20px;
}

.addPForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addPForm .inputGroup label{
    margin-bottom: 5px;
}
.addPForm .inputGroup input{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}
.addPForm .inputGroup button{
    border: 0;
    outline: none;
    background: purple;
    padding: 15px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    margin-top: 20px;
}